.Community .list {
    flex-direction: row;
    justify-content: center;
    gap: 30px;


}

.Community .list li {
    padding: 40px;
    flex: 1;
    text-align: center;
}
.Community .list li .num{
    font-size: 20px;
    display: inline-block;
    background-color: #000;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 20px;
}
.Community .list li .dsc{

}

.Community .list li:hover {
    background-color: rgb(150, 255, 123);
}
.Community .list li:hover a{
    color: #000;
}